/* You can add global styles to this file, and also import other style files */

/* PrimeNG */
@import "primeng/resources/themes/lara-dark-teal/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

/* PrimeFlex */
@import "primeflex/primeflex.css";

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(135deg, #2c7744 0%, #2a9d8f 100%);
    min-height: 100vh;
    color: white;
}